<div id="Content">
	<div id="wizardContainer">
		<div class="noScreen" id="logoContainer"></div>
		<div id="wizard">div id wizard
			<div>
				<h2 id="gasSpringHeader">h2 id gasSpringHeader</h2>
			</div>
			<div id="stepHeader">div id stepHeader
				<span id="stepId">span id stepId</span><span id="stepDescription">span id stepDescription</span>
			</div>
			<div id="configurator">div id configurator
				<div id="wizardBody">div id wizardBody
					<div id="springImage">div id springImage</div>
					<div id="previousStepTip">div id previousStepTip
						<div class="bubble">div class bubble</div>
					</div><a href="javascript:previousStep()" id="btnPreviousStep">id btnPreviousStep</a>
				</div>
				<div id="wizardFooter">div id wizardFooter
					<table id="wizardFooterTable">table id wizardFooterTable
						<tr>
							<td class="footerHeader" colspan="3" id="gasSpring">td class footerHeader id gasSpring</td>
							<td class="footerHeader" colspan="3" id="unitSpecs">td class footerHeader id unitSpecs</td>
						</tr>
						<tr>
							<td class="wizardFooterTitle" id="pistonRodTitle">td class wizardFooterTitle id pistonRodTitle</td>
							<td class="wizardFooterEqual">=</td>
							<td class="wizardFooterValue" id="pistonRodValue">td class wizardFooterValue id pistonRodValue</td>
							<td class="wizardFooterTitle" id="gasSpringTitle">td clss wizardFooterTitle id gasSpringTitle</td>
							<td class="wizardFooterEqual">=</td>
							<td class="wizardFooterValue" id="gasSpringValue">td class wizardFooterValue id gasSpringValue</td>
							<td class="basketCell" rowspan="6">td basketCell span id addToBasket<span id="addToBasket"></span></td>
						</tr>
						<tr>
							<td class="wizardFooterTitle" id="tubeFooterTitle">td class wizardFooterTitle id tubeFooterTitle</td>
							<td class="wizardFooterEqual">=</td>
							<td class="wizardFooterValue" id="tubeFooterValue">td class wizardFooterValue id tubeFooterValue</td>
							<td class="wizardFooterTitle" id="endFitting1FooterTitle">td class wizardFooterTitle id endFitting1FooterTitle</td>
							<td class="wizardFooterEqual">=</td>
							<td class="wizardFooterValue" id="endFitting1FooterValue">td class wizardFooterValue id endFitting1FooterValue</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="wizardFooterTitle" id="strokeFooterTitle">td class wizardFooterTitle id strokeFooterTitle</td>
							<td class="wizardFooterEqual">=</td>
							<td class="wizardFooterValue" id="strokeFooterValue">td class wizardFooterValue id strokeFooterValue</td>
							<td class="wizardFooterTitle" id="endFitting2FooterTitle">td class wizardFooterTitle id endFitting2FooterTitle</td>
							<td class="wizardFooterEqual">=</td>
							<td class="wizardFooterValue" id="endFitting2FooterValue">td class wizardFooterValue id endFitting2FooterValue</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="wizardFooterTitle" id="forceFooterTitle">td class wizardFooterTitle id forceFooterTitle</td>
							<td class="wizardFooterEqual">=</td>
							<td class="wizardFooterValue" id="forceFooterValue">td class wizardFooterValue id forceFooterValue</td>
							<td class="wizardFooterTitle" id="bracketRodFooterTitle">td class wizardFooterTitle id bracketRodFooterTitle</td>
							<td class="wizardFooterEqual">=</td>
							<td class="wizardFooterValue" id="bracketRodFooterValue">td class wizardFooterValue id bracketRodFooterValue</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="wizardFooterTitle" id="totalLengthWithoutThreadsFooterTitle">td wizardFooterTitle id totalLengthWithoutThreadsFooterTitle</td>
							<td class="wizardFooterEqual">=</td>
							<td class="wizardFooterValue" id="totalLengthWithoutThreadsValue">td class wizardFooterValue id totalLengthWithoutThreadsValue</td>
							<td class="wizardFooterTitle" id="bracketTubeFooterTitle">td class wizardFooterTitle id bracketTubeFooterTitle</td>
							<td class="wizardFooterEqual">=</td>
							<td class="wizardFooterValue" id="bracketTubeFooterValue">td class wizardFooterValue id bracketTubeFooterValue</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="wizardFooterTitle" id="totalLengthWithFittingsFooterTitle">td class wizardFooterTitle id totalLengthWithFittingsFooterTitle</td>
							<td class="wizardFooterEqual">=</td>
							<td class="wizardFooterValue" id="totalLengthWithFittingsFooterValue">td class wizardFooterValue id totalLegthWithFittingsFooterValue</td>
							<td class="wizardFooterTitle" id="extensionFooterTitle">td class wizardFooterTitle id extensionFooterTitle</td>
							<td class="wizardFooterEqual">=</td>
							<td class="wizardFooterValue" id="extensionFooterValue">td class wizardFooterValue id extensionFooterValue</td>
							<td></td>
							<td></td>
						</tr>
						<tr style="vertical-align: top;">
							<td class="wizardFooterTitle" id="threadSizeFooterTitle">td class wizardFooterTitle id threadSizeFooterTitle</td>
							<td class="wizardFooterEqual">=</td>
							<td class="wizardFooterValue" id="threadSizeFooterValue">td class wizardFooterValue id threadSizeFooterValue</td>
							<td class="wizardFooterTitle" id="lockingTubeFooterTitle">td class wizardFooterTitle id lockingTubeFooterTitle</td>
							<td class="wizardFooterEqual">=</td>
							<td class="wizardFooterValue" id="lockingTubeFooterValue">td class wizardFooterValue id lockingTubeFooterValue</td>
							<td></td>
							<td></td>
						</tr>
						<tr style="vertical-align: top;">
							<td></td>
							<td></td>
							<td></td>
							<td class="wizardFooterTitle" id="belowFooterTitle">td class wizardFooterTitle id belowFooterTitle</td>
							<td class="wizardFooterEqual">=</td>
							<td class="wizardFooterValue" id="belowFooterValue">td class wizardFooterValue id belowFooterValue</td>
							<td></td>
							<td></td>
						</tr>
						<tr style="vertical-align: top;">
							<td></td>
							<td></td>
							<td></td>
							<td colspan="4">
								<div id="footerButtons">
									<input id="btnDownload" type="button"><input id="btnEmailData" type="button"><input id="btnPrintData" onclick="javascript:window.print();" type="button"><input id="btnSendOffer" type="button">
								</div>
							</td>
						</tr>
					</table>
					<table id="wizardFooterWeldedEyesTable">
						<tr>
							<td class="footerHeader" colspan="3" id="gasSpring">td class footerHeader id gasSpring</td>
							<td class="footerHeader" colspan="3" id="unitSpecs">td class footerHeader id unitSpecs</td>
						</tr>
						<tr>
							<td class="wizardFooterTitle" id="pistonRodTitle">td class wizardFooterTitle id pistonRodTitle</td>
							<td class="wizardFooterEqual">=</td>
							<td class="wizardFooterValue" id="pistonRodValue">td class wizardFooterValue id pistonRodValue</td>
							<td class="wizardFooterTitle" id="gasSpringTitle">td class wizardFooterTitle id gasSpringTitle</td>
							<td class="wizardFooterEqual">=</td>
							<td class="wizardFooterValue" id="gasSpringValue">td class wizardFooterValue id gasSpringValue</td>
							<td class="basketCell" rowspan="6"><span id="addToBasket">td class basketCell span id addToBasket</span></td>
						</tr>
						<tr>
							<td class="wizardFooterTitle" id="tubeFooterTitle">td class wizardFooterTitle id tubeFooterTitle</td>
							<td class="wizardFooterEqual">=</td>
							<td class="wizardFooterValue" id="tubeFooterValue">td class wizardFooterValue id tubeFooterValue</td>
							<td class="wizardFooterTitle" id="braketRodFooterTitle">td class wizardFooterTitle id braketRodFooterTitle</td>
							<td class="wizardFooterEqual">=</td>
							<td class="wizardFooterValue" id="braketRodFooterValue">td class wizardFooterValue id braketRodFooterValue</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="wizardFooterTitle" id="strokeFooterTitle">td class wizardFooterTitle id strokeFooterTitle</td>
							<td class="wizardFooterEqual">=</td>
							<td class="wizardFooterValue" id="strokeFooterValue">td class wizardFooterValue id strokeFooterValue</td>
							<td class="wizardFooterTitle" id="bracketTubeFooterTitle">td class wizardFooterTitle id bracketTubeFooterTitle</td>
							<td class="wizardFooterEqual">=</td>
							<td class="wizardFooterValue" id="bracketTubeFooterValue">td class wizardFooterValue id bracketTubeFooterValue</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="wizardFooterTitle" id="forceFooterTitle">td class wizardFooterTitle id forceFooterTitle</td>
							<td class="wizardFooterEqual">=</td>
							<td class="wizardFooterValue" id="forceFooterValue">td wizardFooterValue id forceFooterValue</td>
							<td class="wizardFooterTitle">td class wizardFooterTitle</td>
							<td class="wizardFooterEqual">td class wizardFooterEqual</td>
							<td class="wizardFooterValue">td class wizardFooterValue</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="wizardFooterTitle" id="totalLengthEyeToEyeTitle">td class wizardFooterTitle id totalLengthEyeToEyeTitle</td>
							<td class="wizardFooterEqual">=</td>
							<td class="wizardFooterValue" id="totalLengthWithoutThreadsValue">td class wizardFooterValue id totalLengthWithoutThreadsValue</td>
							<td class="wizardFooterTitle">td class wizardFooterTitle</td>
							<td class="wizardFooterEqual">td class wizardFooterEqual</td>
							<td class="wizardFooterValue">td class wizardFooterValue</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="wizardFooterTitle" id="welededEyesThinknessTitle">td class wizardFooterTitle id welededEyesThinknessTitle</td>
							<td class="wizardFooterEqual">=</td>
							<td class="wizardFooterValue" id="welededEyesThinknessValue">td class wizardFooterValue id welededEyesThinknessValue</td>
							<td class="wizardFooterTitle">td class wizardFooterTitle</td>
							<td class="wizardFooterEqual">td class wizardFooterEqual</td>
							<td class="wizardFooterValue">td class wizardFooterValue</td>
							<td></td>
							<td></td>
						</tr>
						<tr style="vertical-align: top;">
							<td class="wizardFooterTitle" id="welededEyesHoleSizeTitle">td class wizardFooterTitle id welededEyesHoleSizeTitle</td>
							<td class="wizardFooterEqual">=</td>
							<td class="wizardFooterValue" id="welededEyesHoleSizeValue">td class wizardFooterValue id welededEyesHoleSizeValue</td>
							<td colspan="4">
								<div id="footerButtons">
									<input id="btnDownload" type="button"><input id="btnEmailData" type="button"><input id="btnPrintData" onclick="javascript:window.print();" type="button"><input id="btnSendOffer" type="button">
								</div>
							</td>
						</tr>
					</table>
					<div id="sendEmailForm">div id sendEmailForm
						<div id="emailFormLeft">div id emailFormLeft
							<div>
								<label id="lblEmail">label id lblEmail</label><input id="txtEmail" type="text">input id txtEmail
							</div>
							<div>
								<label id="lblRecipientName">label id lblRecipientName</label><input id="txtRecipientName" type="text">input id textRecipientName
							</div>
							<div>
								<span id="titleRecipientMsg">span id titleRecipientMsg</span>
								<textarea id="txtRecipientMsg" rows="6">textarea id txtRecipientMsg</textarea>
							</div>
						</div>
						<div id="emailFormRight">div id emailFormRight
							<p id="emailStepDescription">p id emailStepDescription</p>
							<div id="emailFormButtons">div id emailFormButtons
								<input id="btnCancelEmailSend" type="button">input id btnCancelEmailSend<input id="btnSendEmail" type="button">input id btnSendEmail
							</div>
						</div>
					</div>
					<div id="sendOfferForm">div id sendOfferForm
						<div id="sendOfferFormLeft">div id sendOfferFormLeft
							<table id="offerDetailsTable">table id offerDetailsTable
								<tr>
									<td class="footerHeader" colspan="3" id="unitSpecs_offerTable">td class footerHeader id unitSpecs_offerTable</td>
									<td id="stockLevelTitle">td id stockLevelTitle</td>
									<td id="qtyTitle">td id qtyTitle</td>
								</tr>
								<tr>
									<td id="gasSpringTitle_offerTable">td id gasSpringTitle_offerTable</td>
									<td class="wizardFooterEqual">=</td>
									<td id="gasSpringValue_offerTable">td id gasSpringValue_offerTable</td>
									<td id="gasSpringPriceButton">td id gasSpringPriceButton</td>
									<td><input class="qtyInput" id="txtGasSpringQty" type="text">input class qtyInput id txtGasSpringQty</td>
								</tr>
								<tr>
									<td id="endFitting1FooterTitle_offerTable">td id endFitting1FooterTitle_offerTable</td>
									<td class="wizardFooterEqual">=</td>
									<td id="endFitting1FooterValue_offerTable">td id endFitting1FooterValue_offerTable</td>
									<td id="endFitting1PriceButton">td id endFitting1PriceButton</td>
									<td><input class="qtyInput" id="txtEndFitting1Qty" type="text">input class qtyInput id txtEndFitting1Qty</td>
								</tr>
								<tr>
									<td id="endFitting2FooterTitle_offerTable">td id endFitting2FooterTitle_offerTable</td>
									<td class="wizardFooterEqual">=</td>
									<td id="endFitting2FooterValue_offerTable">td id endFitting2FooterValue_offerTable</td>
									<td id="gasEndFitting2PriceButton">td id gasEndFitting2PriceButton</td>
									<td><input class="qtyInput" id="txtEndFitting2Qty" type="text">input class qtyInput id txtEndFitting2Qty</td>
								</tr>
								<tr>
									<td id="braketRodFooterTitle_offerTable">td id braketRodFooterTitle_offerTable</td>
									<td class="wizardFooterEqual">=</td>
									<td id="braketRodFooterValue_offerTable">td id braketRodFooterValue_offerTable</td>
									<td id="bracketRodPriceButton">td id bracketRodPriceButton</td>
									<td><input class="qtyInput" id="txtBracketRodQty" type="text">input class qtyInput id txtBracketRodQty</td>
								</tr>
								<tr>
									<td id="bracketTubeFooterTitle_offerTable">td id bracketTubeFooterTitle_offerTable</td>
									<td class="wizardFooterEqual">=</td>
									<td id="bracketTubeFooterValue_offerTable">td id bracketTubeFooterValue_offerTable</td>
									<td id="bracketTubePriceButton">td id bracketTubePriceButton</td>
									<td><input class="qtyInput" id="txtBracketTubeQty" type="text">input class qtyInput id txtBracketTubeQty</td>
								</tr>
								<tr>
									<td id="extensionFooterTitle_offerTable">td id extensionFooterTitle_offerTable</td>
									<td class="wizardFooterEqual">=</td>
									<td id="extensionFooterValue_offerTable">td id extensionFooterValue_offerTable</td>
									<td id="extensionPriceButton">td id extensionPriceButton</td>
									<td><input class="qtyInput" id="txtExtensionQty" type="text">input class qtyInput id txtExtensionQty</td>
								</tr>
								<tr>
									<td id="lockingTubeFooterTitle_offerTable">td id lockingTubeFooterTitle_offerTable</td>
									<td class="wizardFooterEqual">=</td>
									<td id="lockingTubeFooterValue_offerTable">td id lockingTubeFooterValue_offerTable</td>
									<td id="lockingTubePriceButton">td id lockingTubePriceButton</td>
									<td><input class="qtyInput" id="txtLockingTubeQty" type="text">input class qtyInput id txtLockingTubeQty</td>
								</tr>
								<tr>
									<td id="bellowFooterTitle_offerTable">td id bellowFooterTitle_offerTable</td>
									<td class="wizardFooterEqual">=</td>
									<td id="bellowFooterValue_offerTable">td id bellowFooterValue_offerTable</td>
									<td id="bellowPriceButton">td id bellowPriceButton</td>
									<td><input class="qtyInput" id="txtBellowQty" type="text">input class qtyInput id txtBellowQty</td>
								</tr>
							</table>
						</div>
						<div id="sendOfferFormRight">div id sendOfferFormRight
							<h2 id="sendOfferTilte">h2 id sendOfferTilte</h2>
							<table>
								<tr>
									<td id="customerType">td id customerType</td>
									<td id="selectCountry">td id selectCountry</td>
								</tr>
								<tr>
									<td><select class="sendOfferInput" id="optionCustomerType">select class sendOfferInput id optionCustomerType
										<option id="businessCustomer" value="1">option id businessCustomer
										</option>
										<option id="privateCustomer" value="0">option id privateCustomer
										</option>
									</select></td>
									<td><select class="sendOfferInput" id="optionCountries"> select class sendOfferInput id optionCountries
									</select></td>
								</tr>
								<tr>
									<td id="yourNameTitle">td id yourNameTitle</td>
									<td id="alternativeNameTitle">td id alternativeNameTitle</td>
								</tr>
								<tr>
									<td><input class="sendOfferInput" id="txtEmailAddress" required="required" type="email">input class sendOfferInput id txtEmailAddress</td>
									<td><input class="sendOfferInput" id="txtAlternativeEmailAddress" type="email">input class sendOfferInput id txtAlternativeEmailAddress</td>
								</tr>
								<tr>
									<td><input class="sendOfferInput" id="txtYourName" required="required" type="text">input class sendOfferInput id txtYourName</td>
									<td><input class="sendOfferInput" id="txtAlternativeName" type="text">input class sendOfferInput id txtAlternativeName</td>
								</tr>
								<tr>
									<td></td>
									<td><input id="btnCancelSendOffer" type="button"><input id="btnDoSendOffer" type="button">input id btnCancelSendOffer - input id btnDoSendOffer</td>
								</tr>
							</table>
						</div>
					</div>
					<div id="overlay">div id overlay</div>
				</div>
			</div>
			<div class="noScreen" id="copyright">div class noScreen id copyright</div>
		</div>
	</div>
</div>